/* Navbar */
#top_nav {
  background-color: #daac00 !important;
}

/* Banner */
#banner {
  background-color: #fcc302;
  padding-bottom: 20px;
}
#bannertext h1 {
  color: white;
  font-size: 70px;
  margin-top: 100px;
}
#bannertext p {
  font-size: 20px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

#banner-btn-1 {
  background-color: #00bec9;
  border: 2px solid #00bec9;
  color: white;
}
#banner-btn-2 {
  color: white;
  border: 2px solid white;
  margin-left: 15px;
}
@media only screen and(max-widhth:1300px) {
  #bannertext h1 {
    font-size: 50px;
  }
  #banner {
    padding-bottom: 70px;
  }
}

@media only screen and(max-widhth:1080px) {
  #bannertext h1 {
    font-size: 40px;
  }
}

/* Service  */
#service-text {
  padding-top: 10%;
  padding-bottom: 5%;
}
#service-btn {
  color: white;
  background-color: #fcc302;
  border: 2px solid #fcc302;
}
#service-img {
  padding: 5%;
}

/* Counter section */
#counter-section {
  background-image: url(/Assets/images/injection.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity:70%;
  padding-top: 50px;
  padding-bottom: 70px;
}

.counter-icon{
    font-size: 70px;
}

@media only screen and (max-width:500px) {
    .counter-icon{
        font-size: 50px;
    }
    
}

/* BLOG */

#blog{
  padding-bottom: 70px;
  padding-top: 70px;
}
#blog-title{
  font-size: 50px;
  font-weight: bolder;
}

#blog-p{
  font-size: 20px;
  margin-bottom: 70px;
}

.article-detail{
  padding: 15px;
  border: 1px solid rgb(185, 185 , 185);
  border-top: 0;
}

.article-date, .article-link{
  color: #00bec9;
}

.article-link{
  text-decoration: none;
}

/* FOOTER */
#footer{
  background-color: #343434;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 20px;
}

#footer a{
  color: white;
  text-decoration: none;
}
#footer-form{
  margin-top: 10px;
  margin-bottom: 10xp;
}

#footer-search-box{
  background-color: #fcc302;
  color: white;
  border: 0;
  padding: 15px;
  width: 100%;
  max-width: 250px;
  position: relative;
  left: 10px;

}

#footer-search-submit{
  background-color: #00bec9;
  color: white;
  border: 0;
  border-radius: 0;
  padding: 15px 40px;
}
.social-icon{
  font-size: 25px;
  padding-left: 5px;
  margin-top: 10px;
}
@media only screen and (max-width:1080px){
  #footer-search-box{
    max-width: 100px;
  }
}
@media only screen and (max-width:890px){
  #footer-search-box{
    max-width: 200px;
  }
  #footer{
    padding-top: 10px;
  }
  #footer h4{
    padding-top: 50px;
  }
}


